* {
    padding: 0;
    margin: 0;
}

body {
  background: linear-gradient(135deg, #1e0032, #3a0078);
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  background-color: #1a1a2e;
  padding: 37px;
  border-radius: 16px;
  text-align: center;
  width: 300px;
}

.letters, .answer-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.letters button, .answer-box div {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #4a148c;
  color: white;
  cursor: pointer;
}

.answer-box div {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}



button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.buttons button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #d946ef;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
  
 
